service: response
# app and org for use with dashboard.serverless.com
app: secureapp
org: dlapiduz

provider:
  name: aws
  runtime: python3.8
  role: ResponseLambdaRole
  vpc:
    securityGroupIds:
      - Ref: LambdaSecurityGroup
    subnetIds:
      - Ref: PrivateSubnetA
      - Ref: PrivateSubnetB
  apiKeys:
    - name: mainKey
      value: ${env:API_KEY}
#  stage: dev
#  region: us-east-1
#package:
#  include:
#    - include-me.js
#    - include-me-dir/**
#  exclude:
#    - exclude-me.js
#    - exclude-me-dir/**

functions:
  hello:
    handler: handler.store
    events:
      - http:
          path: responses/create
          method: post
          cors:
            origins:
              - http://*.secureapp.io

custom:
  # Dynamo prefix for us-east-1
  dynamoPrefix: pl-02cd2c6b
  customDomain:
    domainName: api.secureapp.io
    stage: dev
    certificateName: '*.secureapp.io'
    createRoute53Record: true
    endpointType: 'regional'
    securityPolicy: tls_1_2

# you can add CloudFormation resource templates here
resources:
  Resources:
    Vpc:
      Type: AWS::EC2::VPC
      Properties:
        CidrBlock: 10.0.0.0/16
    PrivateSubnetA:
      Type: AWS::EC2::Subnet
      Properties:
        AvailabilityZone: us-east-1a
        CidrBlock: 10.0.1.0/24
        VpcId:
          Ref: Vpc
    PrivateSubnetB:
      Type: AWS::EC2::Subnet
      Properties:
        AvailabilityZone: us-east-1b
        CidrBlock: 10.0.2.0/24
        VpcId:
          Ref: Vpc
    PublicSubnetD:
      Type: AWS::EC2::Subnet
      Properties:
        AvailabilityZone: us-east-1d
        CidrBlock: 10.0.21.0/24
        VpcId:
          Ref: Vpc
    InternetGateway:
      Type: AWS::EC2::InternetGateway
    VPCGatewayAttachment:
      Type: AWS::EC2::VPCGatewayAttachment
      Properties:
        VpcId:
          Ref: Vpc
        InternetGatewayId:
          Ref: InternetGateway
    PublicRouteTable:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId:
          Ref: Vpc
    PublicRoute:
      Type: AWS::EC2::Route
      Properties:
        RouteTableId:
          Ref: PublicRouteTable
        DestinationCidrBlock: 0.0.0.0/0
        GatewayId:
          Ref: InternetGateway
    SubnetRouteTableAssociationPublic:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        SubnetId:
          Ref: PublicSubnetD
        RouteTableId:
          Ref: PublicRouteTable
    PrivateRouteTable:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId:
          Ref: Vpc
    SubnetRouteTableAssociationPrivateA:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        SubnetId:
          Ref: PrivateSubnetA
        RouteTableId:
          Ref: PrivateRouteTable
    SubnetRouteTableAssociationPrivateB:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        SubnetId:
          Ref: PrivateSubnetB
        RouteTableId:
          Ref: PrivateRouteTable

    LambdaSecurityGroup:
      Type: "AWS::EC2::SecurityGroup"
      Properties:
        GroupName: ${self:service}-${self:provider.stage}-lambda
        GroupDescription: Allow all outbound traffic, no inbound
        SecurityGroupIngress: []
        SecurityGroupEgress: []
        VpcId:
          Ref: Vpc
    LambdaSecurityGroupIngress:
      Type: "AWS::EC2::SecurityGroupIngress"
      Properties:
        IpProtocol: -1
        SourceSecurityGroupId:
          Ref: LambdaSecurityGroup
        GroupId:
          Ref: LambdaSecurityGroup
    LambdaSecurityGroupEgress:
      Type: "AWS::EC2::SecurityGroupEgress"
      Properties:
        IpProtocol: -1
        DestinationSecurityGroupId:
          Ref: LambdaSecurityGroup
        GroupId:
          Ref: LambdaSecurityGroup
    LambdaSecurityGroupEgressDynamo:
      Type: "AWS::EC2::SecurityGroupEgress"
      Properties:
        IpProtocol: -1
        DestinationPrefixListId: ${self:custom.dynamoPrefix}
        GroupId:
          Ref: LambdaSecurityGroup

    DynamoVPCEndpoint:
      Type: AWS::EC2::VPCEndpoint
      Properties:
        RouteTableIds:
          - Ref: PrivateRouteTable
        VpcId:
          Ref: Vpc
        ServiceName: "com.amazonaws.us-east-1.dynamodb"


    ResponseTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Responses
        AttributeDefinitions:
          - AttributeName: Id
            AttributeType: S
        KeySchema:
          - AttributeName: Id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 5

    ResponseLambdaRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ResponseLambda
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: DynamoDBWriteAccess
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - logs:CreateLogGroup
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource:
                    - 'Fn::Join':
                      - ':'
                      -
                        - 'arn:aws:logs'
                        - Ref: 'AWS::Region'
                        - Ref: 'AWS::AccountId'
                        - 'log-group:/aws/lambda/*:*:*'
                - Effect: Allow
                  Action:
                    - dynamodb:PutItem
                  Resource:
                    'Fn::GetAtt': [ ResponseTable, Arn ]
                - Effect: Allow
                  Action:
                    - ec2:CreateNetworkInterface
                    - ec2:DescribeNetworkInterfaces
                    - ec2:DetachNetworkInterface
                    - ec2:DeleteNetworkInterface
                  Resource: "*"

#  Outputs:
#     NewOutput:
#       Description: "Description for the output"
#       Value: "Some output value"


plugins:
  - serverless-domain-manager