body {
  padding: 2rem;
}
.jumbotron {
  padding: 2rem;
}

#circle .score {
  position: absolute;
  top: 50px;
  width: 200px;
  text-align: center;
  font-size: 2rem;
}

#circle {
  width: 200px;
  margin: auto;
}

.score {
  text-align: center;
}
